<!-- templates/summary_full.html -->
{% extends "shared/base.html" %}

{% block content %}
<h2>Resumo de Spreads - {{ request.path.split('/')[-1].upper() }}</h2>

<a href="/summary/di" class="button is-link">DI</a>
<a href="/summary/ipca" class="button is-success">IPCA</a>

<table class="table is-striped is-fullwidth mt-4">
  <thead>
    <tr>
      <th>Bond ID</th>
      <th>Obs Date</th>
      <th>Corp Yield (%)</th>
      <th>Tenor (yrs)</th>
      <th>DI/IPCA Yield (%)</th>
      <th>Spread (bp)</th>
    </tr>
  </thead>
  <tbody>
    {% for row in summary_data %}
    <tr>
      <td>{{ row["Bond ID"] }}</td>
      <td>{{ row["Obs Date"] }}</td>
      <td>{{ row["Corp Yield (%)"] }}</td>
      <td>{{ row["Tenor (yrs)"] }}</td>
      <td>{{ row["DI Yield (%)"] }}</td>
      <td>{{ row["Spread (bp)"] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
