<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Início</a></li>
        <li><a href="{{ url_for('summary') }}">Superficie de contractos de DI (ODA Comdty)</a></li>
        <li><a href="{{ url_for('show_wla_summary') }}">Superficie de contractos de Inflacion / IPCA (WLA Index)</a></li>
        <li><a href="/summary/di">Dif. entre los contractos ODA (Surface) y los bonos vinculados al DI</a></li>
        <li><a href="/summary/ipca">Dif. entre los contractos WLA (Surface) y los bonos vinculados a la inflación IPCA</a></li>
    </ul>
</nav>
