<header class="nav" role="navigation" aria-label="Principal">
  <div class="wrap">
    <a class="brand" href="/">
      <div class="logo" aria-hidden="true"></div>
      <span>Modelo de Spreads</span>
    </a>
    <ul>
        <!-- Emisoes e emissores consolidados -->
        <h3>Lista de bonos y empresas:</h3>
        <li><a href="/benchmark-summary" title="Benchmark final por bond">Benchmark</a></li>
        <li><a href="/download/benchmark">Table Download: emisiones y emisores</a></li>

        <!-- Graficos dos Spreads -->
        <h3>Spreads entre bonos y contractos futuros libres de riesgo (graficos dos spreads):</h3>
        <li><a href="/spread/di">Chart View: Spread 3D – DI</a></li>
        <li><a href="/spread/ipca">Chart View: Spread 3D – IPCA</a></li>

        <!-- Tabelas dos Spreads -->
        <h3>Spreads entre bonos y contractos futuros libres de riesgo (tabelas dos spreads):</h3>
        <li><a href="/spread-table/di">Table View: Spread 3D - DI</a></li>
        <li><a href="/spread-table/ipca">Table View: Spread 3D - IPCA</a></li>
        <li><a href="/download/di">Table Download: Spread 3D - DI</a></li>
        <li><a href="/download/ipca">Table Download: Spread 3D - IPCA</a></li>

        <!-- Superfícies 3D das Curvas -->
        <h3>Superfície 3D das curvas de Contractos futuros libres de riesgo:</h3>
        <li><a href="/surface/di">Chart View: Curva - DI</a></li>
        <li><a href="/surface/ipca">Chart View: Curva - IPCA</a></li>

        <!-- Tabelas das Curvas Interpoladas -->
        <h3>Superfície 3D das curvas de Contractos futuros libres de riesgo (Tabelas das Curvas Interpoladas):</h3>
        <li><a href="/summary/di">Table View: Curva - DI</a></li>
        <li><a href="/summary/ipca">Table View: Curva - IPCA</a></li>

    </ul>
  </div>
</header>
